@font-face {
  font-family: "iconfont"; /* Project id 4723574 */
  src: url('//at.alicdn.com/t/c/font_4723574_puxjy5tam8l.woff2?t=1731938001882') format('woff2'),
  url('//at.alicdn.com/t/c/font_4723574_puxjy5tam8l.woff?t=1731938001882') format('woff'),
  url('//at.alicdn.com/t/c/font_4723574_puxjy5tam8l.ttf?t=1731938001882') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowleftl:before {
  content: "\e6a6";
  font-size: 50px;
  margin-left: -60px;
  color: white;
}

.icon-arrowrightl:before {
  content: "\e6ab";
  font-size: 50px;
  margin-left: 60px;
}

.icon-A_square_solid_4472c4:before {
  content: "\e638";
}

.icon-S_square_solid:before {
  content: "\e63b";
}

.icon-C_square_solid:before {
  content: "\e643";
}

.icon-B_round_solid:before {
  content: "\e645";
}

.icon-999-weizhi:before {
  content: "\e639";
}

.icon-shujuju:before {
  content: "\e651";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-password:before {
  content: "\e601";
}

.icon-yonghu:before {
  content: "\e624";
}
